@font-face {font-family: GandhiSerif-Regular; src: url(assets/GandhiSerif-Regular.otf);}
@font-face {font-family: GandhiSerif-Bold; src: url(assets/GandhiSerif-Bold.otf);}
@font-face {font-family: GandhiSerif-Italic; src: url(assets/GandhiSerif-Italic.otf);}


body {background-color: #e2d1de; width: 100%;}
nav { font-family: 'GandhiSerif-Bold'; font-size: 1.7em; margin-top: 15px; text-align: center; color: azure;}
.datas {font-family: 'GandhiSerif-Regular'; font-size: 1em;}
.next {font-family: 'GandhiSerif-Regular'; font-size: 1em;}
.pins {width: 30px;}
#video {position: fixed; margin-left: 300px;}
#roda {z-index: -3; position: absolute; top: -200px;}
#roda:hover{border:10px;}
#ponte {z-index: -2; position: absolute; top: 0px;}
#ponte:hover {opacity: 50%;}
#corpo {z-index: 2; position: absolute; top: 1240px; left: 60px}
.bg:hover {opacity: 0.5;}
#agua {z-index: -1; position: absolute; top: 1429px; left: 60px;}
#maymont {position: absolute; top: 670px;}
#jamesriver {position: absolute; top: 2500px; margin-left: 50px;}
#atlanta {position: absolute; top: 1070px;  margin-left: 500px;}
#mardeconcreto {position: absolute; top: 750px; margin-left: 1150px;}
#datarios {position: absolute; top: 2550px; margin-left: 1100px;}

